ul.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #3d3d3d;

}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;          /*no ugly underline*/
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(32, 32, 32);
}
.active {
    background-color: rgb(255, 70, 233);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-color: #1c1c1c;
    font-family: "Raleway", sans-serif;
    color: white;
}

.clickplay {
    background-color: rgb(255, 70, 233);
    border-radius: 20px;
    text-decoration: none;
    color: black;
    padding: 20px;
}

#div1, #div2 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }